/* Page Setup - Icons - Section Display
============================================*/
h1{
  padding: 20px 0 100px;
}
h2 {
  line-height: 28px;
}
.col-md-6.extra-spacing {
  margin-bottom: 30px;
}
.why-classup-icon,
.how-it-works-icon,
.awards-affiliates-icon {
  max-width: 90%;
  max-height: 150px;
  margin-bottom: 20px;
}
.steps-explained {
  margin-bottom: 50px;
}


/* Navbar Logo
============================================*/
.logo {
  width: 115px;
}
#tf-menu > div > div.navbar-header > a {
  padding: 5px 15px;
}


/* Home Section
============================================*/
#tf-home {
  background: url("../img/home/background.png");
  background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #FFFFFF;
}
#tf-home .content {
  padding: 150px 0 50px;
}
button.sign-up-top {
  font-size: 20px;
  border-radius: 100px;
  padding: 10px 30px;
}
#tf-home > div > div > a {
  margin-top: 100px;
}

/* Terms Section
============================================*/
#tf-terms {
  padding: 50px 0 30px;
  background-attachment: fixed;
}

h2.terms-item-title {
  margin: 36px 0 9px;
}

p.terms-item-content {
  margin-bottom: 9px;
}

ul {
  list-style-type: none;
}